%button-big {
  display: block;
  width: px-to-rem(226px);
  padding: px-to-rem(20px) 0;
  border-radius: 4px;
  @include font($font-family-text, px-to-rem(14px), 1, #fff);
  font-weight: 700;
  background-color: $red-color;
  border: 1px solid transparent;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
}

%button-small {
  display: block;
  width: px-to-rem(150px);
  padding: px-to-rem(18px) 0;
  border-radius: 4px;
  @include font($font-family-text, px-to-rem(12px), 1, #fff);
  background-color: $grey-color;
  border: 1px solid transparent;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
}